/UserSettings
/Library
/Logs
/Temp
/Assets/FoxAdventures/Cours/EnCours
/Assets/FoxAdventures/Cours/EnCours.meta
/Assets/PlayFabEditorExtensions/Editor/Resources/PlayFabEditorPrefsSO.asset.meta
/Assets/PlayFabEditorExtensions/Editor/Resources/PlayFabEditorPrefsSO.asset
